<header class="fixed top-0 w-full z-50 bg-white/70 backdrop-blur-xl shadow-xl shadow-emerald-900/5">
<nav class="flex justify-between items-center px-8 py-4 max-w-screen-2xl mx-auto font-headline tracking-tight">
<div class="text-2xl font-black tracking-tighter text-emerald-900">TripWay</div>
<div class="hidden md:flex items-center gap-8">
<a class="text-emerald-700 font-bold border-b-2 border-emerald-700" href="#">Expedições</a>
<a class="text-stone-600 hover:text-emerald-800 transition-all" href="#">Rios</a>
<a class="text-stone-600 hover:text-emerald-800 transition-all" href="#">Lodges</a>
<a class="text-stone-600 hover:text-emerald-800 transition-all" href="#">Cultura</a>
</div>
<div class="flex items-center gap-6">
<button class="text-emerald-900"><span class="material-symbols-outlined" data-icon="shopping_cart">shopping_cart</span></button>
<button class="bg-primary-container text-on-primary-container px-6 py-2 rounded-xl font-semibold scale-95 hover:scale-100 duration-200">Entrar</button>
</div>
</nav>
</header>
