<section class="relative min-h-[921px] flex items-center pt-20 px-8 overflow-hidden">
<div class="absolute inset-0 z-0">
<img class="w-full h-full object-cover" data-alt="Lush Amazon rainforest canopy at sunrise with mystical fog rolling over the trees in soft green and gold tones" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAaDYj5WoOyzft4LQeHqzwzSF0gOY8QYwRTUzpLE6dEBftcI95ngfs5zAyPJb-o_eg0DhsgornIRxTA2HWIXqs4T5NyJvaasffmrmeIhymGxMURixEUZkM65AbySObmquu5JpvCh_D3kxYQDrr8yKOLOx0qF50gk9xa5nXiJxF954ILWk1FmBAIomJxtQyRejPaGW2uCM41wZZkdk3DSp_oG3I_sFS9cZhVwOqf-4nraEyrCUvcH8OSQDQ0ECFMY8Wi0aF7lfSXdYs">
<div class="absolute inset-0 bg-gradient-to-r from-background via-background/40 to-transparent"></div>
</div>
<div class="relative z-10 max-w-screen-2xl mx-auto w-full grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
<div class="space-y-8">
<h1 class="text-6xl md:text-8xl font-black font-headline leading-[0.9] text-primary tracking-tighter">
  Onde a <br><span class="text-secondary">Alma</span><br> Respira.
</h1>
<p class="text-xl max-w-md text-on-surface-variant font-medium">
  Curadoria exclusiva de expedições profundas pelo coração da maior biodiversidade do planeta.
</p>
<div class="bg-surface-container-lowest p-4 rounded-[2rem] editorial-shadow flex flex-col md:flex-row gap-4 items-center border border-outline-variant/10">
<div class="flex-1 w-full px-4 border-r border-outline-variant/20">
<label class="block text-[10px] font-bold text-outline tracking-widest uppercase mb-1">Onde?</label>
<input class="w-full bg-transparent border-none focus:ring-0 p-0 text-on-surface font-semibold placeholder:text-outline-variant" placeholder="Destino na Amazônia" type="text">
</div>
<div class="flex-1 w-full px-4 border-r border-outline-variant/20">
<label class="block text-[10px] font-bold text-outline tracking-widest uppercase mb-1">Datas</label>
<input class="w-full bg-transparent border-none focus:ring-0 p-0 text-on-surface font-semibold placeholder:text-outline-variant" placeholder="Selecione o período" type="text">
</div>
<div class="flex-1 w-full px-4">
<label class="block text-[10px] font-bold text-outline tracking-widest uppercase mb-1">Pessoas</label>
<input class="w-full bg-transparent border-none focus:ring-0 p-0 text-on-surface font-semibold placeholder:text-outline-variant" placeholder="Quantos exploradores?" type="text">
</div>
<a routerLink="/experiences" class="bg-primary hover:bg-primary-container text-white p-4 rounded-full transition-colors flex items-center justify-center cursor-pointer">
<span class="material-symbols-outlined" data-icon="search">search</span>
</a>
</div>
</div>
</div>
</section>